/* Define keyframes for image animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Define keyframes for text animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to the title element */
.titleAnimation {
  animation: popIn 2s ease-out;
}

/* Apply the animations to your elements */
.imageAnimation {
  animation: fadeIn 2s ease-out;
}

.textAnimation {
  animation: slideUp 2s ease-out;
}

.hopeGivesText {
  font-size: calc(1.625rem * var(--mantine-scale));
  line-height: 1.2;
  color: var(--hopegives-gray);
  display: inline;
  span {
    font-weight: bold;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: calc(1.75rem * var(--mantine-scale));
  }
}

.aboutContainer {
  display: flex;
  background-color: rgba(89, 79, 62, 0.3);
  width: calc(100% + 35px);
  margin-left: -16px;
  margin-right: -16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
