.hopeGivesText {
  font-size: calc(1.625rem * var(--mantine-scale));
  line-height: 1.2;
  color: var(--hopegives-gray);
  display: inline;
  span {
    font-weight: bold;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: calc(1.75rem * var(--mantine-scale));
  }
}

.aboutContainer {
  display: flex;
  background-color: rgba(89, 79, 62, 0.3);
  width: calc(100% + 35px);
  margin-left: -16px;
  margin-right: -16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
