/* Selects the root element of the document:
   <html> in the case of HTML */

/* Mantine style props reference */
/* https://mantine.dev/styles/style-props/ */

/* CSS variables */
/* https://mantine.dev/styles/css-variables/ */
:root {
  --hopegives-orange: #ff9500;
  --hopegives-dark-orange: #f15c00;
  --hopegives-yellow: #ffc200;
  --hopegives-gray: #594f3e;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}

.hopegives-button {
  background: linear-gradient(
    to right,
    var(--hopegives-orange),
    var(--hopegives-yellow)
  ) !important;
  transition: all 0.3s ease;
  color: var(--hopegives-gray) !important;
}

.hopegives-button:hover {
  background: linear-gradient(
    to right,
    var(--hopegives-yellow),
    var(--hopegives-orange)
  ) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* override for typewriter component */
.Typewriter {
  display: inline !important;
}

html{
  /* Accounts for height of header when navigating to a section */
  scroll-padding-top: 70px;
}