.wrapper {
  color: var(--hopegives-gray);
  background-color: rgba(211, 211, 211, 0.2);
  width: calc(100% + 35px);
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: var(--mantine-spacing-xl);
  margin: var(--mantine-spacing-md);
}

.centerBtn {
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
}
