.footerBorder {
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 200px;
}
.footerFlexItem {
  flex: 1; /* This makes each item grow equally, taking up 1/4th of the space */

  @media (max-width: $mantine-breakpoint-sm) {
    flex-basis: 100%; /* On small screens, each item takes the full width of the container */
  }
}
.footerLogo {
  object-fit: contain;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}
