@keyframes expandIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes cascadeFadeIn {
  to {
    visibility: visible;
    opacity: 1;
  }
}

.drawerContent a {
  visibility: hidden; /* Hide the element but still take up space */
  opacity: 0;
  animation: cascadeFadeIn 0.5s ease forwards;
}

/* Apply staggered animation delays */
.drawerContent a:nth-child(1) {
  animation-delay: 0.1s;
}
.drawerContent a:nth-child(2) {
  animation-delay: 0.2s;
}
.drawerContent a:nth-child(3) {
  animation-delay: 0.3s;
}
.drawerContent a:nth-child(4) {
  animation-delay: 0.4s;
}
.drawerContent a:nth-child(5) {
  animation-delay: 0.5s;
}
.drawerContent a:nth-child(6) {
  animation-delay: 0.6s;
}

.header {
  height: rem(60px);
  animation: expandIn 2s ease-in-out;
  position: fixed; /* or 'sticky' depending on your design */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* for demonstration purposes; set it to your header's height */
  z-index: 10; /* so that it's above the main content */
  background-color: white;
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.headerLogo {
  object-fit: contain;
  /* fix for mobile devices */
  @media screen and (max-width: 768px) {
    width: auto;
  }
}

.inner {
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  padding-top: var(--mantine-spacing-sm);
  height: rem(60px);
  display: flex;
  align-items: center;
}

.mainLinks {
  margin-right: calc(var(--mantine-spacing-sm) * -1);
}

.mainLink {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  padding: rem(7px) var(--mantine-spacing-sm);
  font-weight: 700;
  border-bottom: rem(2px) solid transparent;
  transition: border-color 100ms ease, color 100ms ease;
  text-decoration: none;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-decoration: none;
  }

  &[data-active] {
    color: var(--hopegives-yellow);
  }
}

.drawerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
