@keyframes zoomIn {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Animation for description and title */
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-top: rem(180px);
  padding-bottom: rem(130px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: var(--background-image-url);
  animation: zoomIn 2s ease-out;
  overflow: hidden; /* To contain the pseudo-element's blur effect within the wrapper */

  /* Create a pseudo-element for the gradient effect */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; /* Cover the right half of the wrapper */
    background: linear-gradient(
      /* #594f3e hopegives gray */ to left,
      #f0f0f0,
      transparent
    ); /* Adjust colors as needed */
    transition: width 0.5s ease; /* Smooth transition for the effect */
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
    &::after {
      width: 0; /* Set width to 0 to remove the blur effect */
    }
  }
}

.inner {
  position: absolute; /* Use absolute positioning */
  right: 0; /* Align to the right side */
  width: 50%; /* Set width to half of the parent */
  top: 45%; /* Align vertically to the center */
  transform: translateY(-50%); /* Adjust vertical position to truly center */
  z-index: 1;

  @media (max-width: $mantine-breakpoint-sm) {
    position: relative; /* Or adjust as needed for mobile */
    width: 100%; /* Take full width on smaller screens */
    right: auto; /* Reset right alignment */
    top: auto; /* Reset top alignment */
    transform: none; /* Reset transform */
    margin-top: 100px;
  }
}

.title {
  font-weight: 600;
  font-size: rem(40px);
  letter-spacing: rem(-1px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  text-align: center;
  animation: slideUp 2s ease-in;
  background-image: linear-gradient(
    to right,
    var(--hopegives-yellow) 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* for webkit browsers */
  transition: background-position 1s ease;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

.title:hover {
  background-position: left bottom;
}

.highlight {
  color: var(--mantine-color-primary-4);
}

.description {
  color: var(--mantine-color-gray-0);
  text-align: center;
  animation: slideUp 2s ease-in;
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-md);
    text-align: left;
  }
}

.controls {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  animation: slideUp 2s ease-in;

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  height: rem(42px);
  font-size: var(--mantine-font-size-md);

  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}

.secondaryControl {
  color: var(--mantine-color-white);
  background-color: rgba(255, 255, 255, 0.4);

  @mixin hover {
    background-color: rgba(255, 255, 255, 0.45);
  }
}
