/* HowItWorksComponent.css */

.donorBtn {
  display: block;
  width: 300px;
  background-color: var(--hopegives-gray);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, #594f3e, #a08a68);
  }
}

.howItWorksTitle {
  color: var(--hopegives-gray);
}

.howItWorksStep {
  font-size: 18px;
  color: white;
  background-color: var(--hopegives-yellow);
  width: 375px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

.howItWorksLastButton {
  margin: 0 auto;
  margin-top: 20px;
}

.howItWorksButtonCreate:hover,
.howItWorksButtonDonate:hover {
  background-color: #e8a029; /* Darker shade for hover effect */
}

/* Responsive behavior */
@media (max-width: $mantine-breakpoint-sm) {
  .howItWorksCard {
    margin-bottom: 20px;
  }
}
