.outerWrapper {
  background-color: white; /* Set background color to white */
  /* Adjust other styling as needed (e.g., margin, width) */
  width: calc(100% + 35px);
  margin-left: -16px;
  margin-right: -16px;
  @media (max-width: $mantine-breakpoint-sm) {
    padding: 0;
  }
}
.nonprofitsWrapper {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ebebeb;
  background-image: var(--background-image-url);
  padding-top: calc(rem(240px));
  padding-bottom: calc(rem(130px));
  @media (max-width: $mantine-breakpoint-sm) {
    border-radius: 0;
  }
}

.nonProfitsButton {
  display: block;
  margin: 0 auto;
}
