@keyframes zoomIn {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.wrapper {
  height: 900px;
  position: relative;
  padding-top: rem(120px);
  padding-bottom: rem(130px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      /* --hopegives-gray */ to bottom,
      rgba(89, 79, 62, 0.3),
      rgba(89, 79, 62, 0.3)
    ),
    var(--background-image-url);

  animation: zoomIn 2s ease-out;
  width: calc(100% + 35px);
  margin-left: -16px;
  margin-right: -16px;
  @media screen and (max-width: $mantine-breakpoint-xs) {
    height: 100%;
    padding-top: rem(20px);
    padding-bottom: rem(60px);
  }
}

.formContainer {
  @media screen and (max-width: $mantine-breakpoint-sm) {
    margin: 0 auto;
  }
}
